.topinfo{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 30px;
    max-height: 300px;
    display: flex;
    max-width: 800px;
    justify-content: center;
}
.topinfo img{
max-height: 300px;
}

.profilen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.midtsec{
    display: flex;
}