.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.info{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    width: 40%;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 20px 10px;
}

.indhold{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.venstre{
    display: flex;
    flex-direction: column;
}

.nordisk{
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 350px;       /* 1. Boksen bliver aldrig bredere end 350px (du kan justere tallet) */
    width: 100%;            /* 2. Den fylder ud indtil den rammer max-width */
    padding: 10px;          /* 3. Teksten holder sig 10px fra kanten */
    box-sizing: border-box; /* 4. Sikrer at padding tælles MED i bredden, så layoutet ikke springer */
}
.status-liste {
    margin-top: 2px;
}
/* De enkelte punkter (li) */
.status-liste li {
    margin-bottom: 10px; /* Luft mellem linjerne */
    color: #333;
    text-align: left; /* Sikrer at teksten står pænt til venstre */
}

.billeder{
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding-left: 10px;
}
.galleri {
    display: flex;
    flex-direction: column;
}
.galleriimg{
    padding: 20px;
    max-height: 100px;
}

.hojre{
    width: 500px;
}

.dataoverblik{
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}
.indsigter{
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    margin-top: 20px;
}
/* Grafen */
.graf-container {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    font-size: 12px; 
}