

.linklist{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    padding: 2% 2%25% 15%;
}

.link{
    text-decoration: none;
    color: #2C2B2B;
    font-weight: 800;
    font-size: 1.5em;
    padding: 16px 16px 16px 16px;
}