

.linklist{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2% 2% 15% 15%;
}

.link{
    text-decoration: none;
    color: #2C2B2B;
    font-weight: 700;
    font-size: 1.5em;
    padding: 16px 16px 16px 16px;
}